{%extends "store/base.html"%}
{% block content%}


<h2>About Us</h2>
<p>
kitabi (kitabi.com) is a leading international book retailer with a unique offer -- over 20 million books and free delivery worldwide (with no minimum spend).
<br><br>
We ship thousands of books every day from our fulfillment centres in Gloucester, United Kingdom, and Melbourne, Australia, to more than 130 countries across the world -- displaying prices in 37 different local currencies.
<br><br>
Our vision is to provide “All Books Available to All” by improving selection, access and affordability of books.
<br><br>
We accept payments made with the following credit cards: VISA, MasterCard, AMEX, VISA Debit, VISA Delta, Maestro, Electron. We are also happy to accept PayPal. Unfortunately, we are unable to accept JCB.
<br><br>
Once you have entered your details online through our secure server, you have the option to store the card for use in the future, subsequent orders can be placed simply by logging into your account using your email address and password and selecting a credit card option from the list of those previously used - you would still have to enter the card's CVV number at this point.
<br><br>
We accept payments in Argentine Peso, Australian Dollar, Brazilian Real, Bulgarian Lev, Canadian Dollar, Chilean Peso, Colombian Peso, Czech Koruna, Danish Krone, Euro, Hong Kong Dollar, Hungarian Forint, Indian Rupee, Indonesian Rupiah, Israeli Shekel, Japanese Yen, Malaysian Ringgit, Mexican Peso, New Taiwan Dollar, New Zealand Dollar, Norwegian Krona, Peruvian Nuevo Sol, Philippine Peso, Polish Zloty, Pound Sterling, Qatari Rial, Romanian Leu, Saudi Arabian Riyal, Singapore Dollar, South African Rand, South Korean Won, Swedish Krona, Swiss Franc, Thai Baht, Turkish Lira, United Arab Emirates Dirham, Uruguay Peso, and US Dollar - there is a select currency dropdown menu at the top right of the homepage to change the currency display into the one most appropriate for you. We charge in the currency selected.
</p><br>
{% endblock content%}
