{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "store/main.css"%}">
    {%if title%}
    <title>bookstore - {{title}}</title>
    {%else%}
    <title>bookstore</title>
    {%endif%}
  </head>
  <body>

    <header class="home-header">
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/"><img src="{% static 'img/logobookstore.png' %}" alt="" class="bookstorelogohome"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_book' %}" method="get">
                {% csrf_token %}
               <input class="form-control mr-sm-2" type="search" placeholder="Search book or author" aria-label="Search" name="search" value="{{ request.POST.search }}">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
            {%if user.is_authenticated %}
            <img src="{{ user.profile.image.url}}" class="rounded-circle user-home-img">
            <h4 class="usernameuserhomenavbar">{{ user.username }}</h1>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'profile'%}">profile</a>
                <a class="dropdown-item" href="{% url 'logout'%}">logout</a>
              </div>
            </li>
            {%else%}
            <li class="nav-item">
             <a class="nav-link" href="{% url 'login'%}">login</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="{% url 'register'%}">Register</a>
            </li>
            {%endif%}
        </ul>
      </div>
    </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
         <div class="col-md-2 leftcolhome">
           <ul class="ulleftcol">
             <li><a class="active lileftcol" href="/">browser latest books</a></li>
             <li><a class="lileftcol" href="{%url 'newbook-home'%}">browser all new books</a></li>
             <li><a class="lileftcol" href="{%url 'usedbook-home'%}">browser all used books</a></li>
             <li><a class="lileftcol" href="{%url 'categories-home'%}">browser books by categories</a></li>
             <li><a class="lileftcol" href="{%url 'langagueseng-home'%}">browser books by langagues</a></li>
             <li><a class="lileftcol" href="{%url 'regionusedbook-home'%}">browser usedbooks by regions(wilaya)</a></li>
             {%if user.is_authenticated %}
             <li><a class="lileftcol" href="{%url 'mycarte' user %}" >My carte</a></li>
             <li><a class="lileftcol" href="{%url 'myorders' user %}" >My orders</a></li>
             <li><a class="lileftcol" href="{%url 'wishlistuser' user %}" >My wishlist</a></li>
             <li><a class="lileftcol" href="{%url 'createusedbook'%}" >add usedbook</a></li>
             <li><a class="lileftcol" href="{%url 'userusedbooks' user %}" >My usedbooks</a></li>
             <li><a class="lileftcol" href="{%url 'useroffers' user %}" >My offers</a></li>
             {%endif%}
             <li><a class="lileftcol" href="{%url 'contactus'%}">contact us</a></li>
             <li><a class="lileftcol" href="{%url 'store-about'%}" >About</a></li>
           </ul>
           </div>
         <div class="col-md-10">
           {%if messages%}

               {%for message in messages%}
                 <div class="alert alert-{{ message.tags }}">
                   <button class="close" data-dismiss="alert">
                     <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                 </div>
               {%endfor%}

               {%endif%}


           {% block content %}{% endblock %}
         </div>
         </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
