{%extends "store/base.html"%}
{% block content%}
<h1>{{ region.name_region }} books list</h1>

     <h1>usedbooks</h1>
     <div class="row">
      {% for usedbook in usedbooks%}
       <div class="col-3">
       <article class=" content-section">
        <img src="{{ usedbook.book.image_book.url}}" class="bookinghome article-img">
        <div class="bookdeshome">
          <h4 class="bookdeshometitle">{{ usedbook.book.title_book}}</h4>
          <h4 class="bookdeshomeauthor">By : {{ usedbook.book.author_book}}</h4>
          <h4 class="bookdeshomeetatbook">etat : {{ usedbook.book.usedbook.etat_book}} </h4>
          <h4 class="bookdeshomeetatactbook">{{ usedbook.book.usedbook.etat_actu_book}} /10</h4>
        </div>
      </article>
      {% if usedbook.user_usedbook == user%}
      <a href="{% url 'usedbook-detail' usedbook.id %}">detail-book</a>
      {% else %}
      <a href="{% url 'usedbook-detail' usedbook.id %}">detail-book</a>
      <a href="{% url 'create-offer' usedbook.id %}">exchange-book</a>
      {% endif %}     
      </div>
      {% endfor %}
  </div>
{% endblock content%}
