{%extends "store/base.html"%}
{% block content%}
<h1>book details</h1>
<br>
<img src="{{ usedbook.book.image_book.url}}" class="bookinghome article-img">
<div class="bookdesdetail">
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">title_book :</h3> {{ usedbook.book.title_book}}</h4>
  <h4 class="bookdesdetailauthor"><h3 class="bookdesdetailtitlecolor">author_book :</h3> {{ usedbook.book.author_book}}</h4>
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">num_page_book : </h3>{{ usedbook.book.num_page_book}}</h4>
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">isbn_book : </h3>{{ usedbook.book.isbn_book}}</h4>
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">langague_book : </h3>{{ usedbook.book.langague_book}}</h4>
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">genre_book : </h3>{% for genre in genres %}{{ genre.name_genre }}<br>{% endfor %}</h4>
  <h4 class="bookdesdetailpricebook"><h3 class="bookdesdetailtitlecolor">user_usedbook : </h3><a href="{% url 'userusedbooks' usedbook.user_usedbook %}">{{ usedbook.user_usedbook}}</a></h4>
  <h4 class="bookdesdetailstarts"><h3 class="bookdesdetailtitlecolor">etat_book : </h3>{{ usedbook.etat_book}} </h4>
  <h4 class="bookdesdetailstarts"><h3 class="bookdesdetailtitlecolor">etat_actu_book : </h3>{{ usedbook.etat_actu_book}} /10</h4>
  <h4 class="bookdesdetailstarts"><h3 class="bookdesdetailtitlecolor">date_posted : </h3>{{ usedbook.date_posted}} </h4>
  <h4 class="bookdesdetailtitle"><h3 class="bookdesdetailtitlecolor">descript_book : </h3>{{ usedbook.book.descript_book}}</h4>
  {% if usedbook.user_usedbook == user%}
  <div class="">
    <a  class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'usedbook-update' usedbook.id %}">Update</a>
    <a  class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'usedbook-delete' usedbook.id %}">delete</a>
  </div>
  {% endif %}
</div>
{% endblock content%}
